/* Custom CSS */

.lside {
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #B8F4B3;
}

.rside {
    height: 100vh;
    background: rgba(59, 148, 132, 0.96);
}

/* Navbar */
nav {
    background-color: #DBF7F9;
}
/* Override BS button warning */
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: #FAAB4F !important;
    color: whitesmoke !important; 
}